@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v15-latin-700.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

.container {
  max-width: 1110px;
  padding: 0 24px;
  margin: 0 auto;
}

.site-header {
  padding: 73px 0 120px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.header__left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.header__navbar > a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__navbar > a:hover {
  color: #F67E7E;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btn {
  padding: 10px 32px;
  border: 2px solid white;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: white;
  background-color: transparent;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__btn:hover {
  border: 2px solid #F67E7E;
  color: #F67E7E;
}

.header__btn2 {
  background-color: transparent;
  border: none;
  display: none;
}

@media (max-width: 875px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__left-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

@media (max-width: 612px) {
  .header__btn2 {
    display: block;
  }
  .header__navbar {
    display: none;
  }
  .header__btn {
    display: none;
  }
}

.hero-section {
  background-image: url(../images/icon3.png);
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: left top;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.hero {
  padding-bottom: 250px;
  background-image: url(../images/icon2.svg);
  background-size: 358px 100px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero-title-wrapper {
  max-width: 600px;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: white;
}

.hero-span {
  color: #F67E7E;
}

.hero-line {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  margin-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: white;
  width: 445px;
}

.build-section {
  background-color: #012F34;
}

.build__line {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 40px;
}

.build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  padding: 100px 0;
}

.build__text {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: white;
  width: 445px;
}

.build__s {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  width: 445px;
  margin-bottom: 20px;
}

.build__h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: white;
  width: 445px;
}

.succes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}
/*# sourceMappingURL=main.css.map */