*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Livvic", sans-serif;
    background-color: $color-lightgreen;
}
.container{
    max-width: 1110px;
    padding: 0 24px;
    margin: 0 auto;
}