.hero-section {
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: left top;
}

.hero {
    @include Display($items: center, $space: space-between, $gap:0px,);
}

.hero-title-wrapper {
    max-width: 600px;
}

.hero__title {
    @include TextStyle($FW:700, $FS:100px, $LH:100px, $CLR:white,)
}